form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px 15px;
    background-color: #ffcc00; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}

.searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0; 
}

.searchForm h4 {
    margin-right: 20px; 
    font-size: larger;
}
