.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    margin-bottom: 20px;
}

.gridContainer button {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block; 
    transition: background-color 0.3s ease;
}

.gridContainer button:hover {
    background-color: #ffaa00;
}

.home {
    padding: 40px;
    background-color: #f9f9f9;
}

.home h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.home p a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.home p a:hover {
    color: #ffaa00;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background-color: #ffcc00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px 0; 
}

.filterInput {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
    margin-right: 10px; 
    width: 300px; 
}

.resetButton {
    padding: 10px 15px; 
    background-color: #ffcc00; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.resetButton:hover {
    background-color: #ffaa00;
}


@media (max-width: 420px) {
    .gridContainer {
        grid-template-columns: 1fr; 
        gap: 15px;
        padding: 10px;
    }

    .gridContainer button {
        padding: 8px 20px; 
        font-size: 0.9rem;
    }

    .home h2 {
        font-size: 1.5rem; 
    }

    input[type="text"] {
        width: 180px; 
    }

    .filterInput {
        width: 250px; 
    }

    .resetButton {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}


@media (max-width: 360px) {
    .gridContainer {
        grid-template-columns: 1fr; 
        gap: 10px;
        padding: 5px;
    }

    .gridContainer button {
        padding: 6px 15px; 
        font-size: 0.85rem;
    }

    .home h2 {
        font-size: 1.3rem; 
    }

    input[type="text"] {
        width: 150px; 
    }

    .filterInput {
        width: 200px; 
    }

    .resetButton {
        padding: 6px 10px; 
        font-size: 0.85rem;
    }
}
