body {
    font-size: 16px;
}

nav,
nav.header,
nav.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2C2C2C;
    color: #FFD700;
    box-shadow: 0 4px 2px -2px gray;
}

nav.header .main-nav a {
    color: #FFD700;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.user {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user a {
    height: 50px;
    width: 50px;
}

.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 40px;
    color: #fff;
}

.titulo h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-section {
    padding-left: 15px;
}

.home-section h2 {
    padding-top: 0;
    margin-top: 10px;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchForm h4 {
    margin: 0;
}

nav .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.footer li {
    display: flex;
    justify-content: space-between;
}

.favoritos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 20px;
    justify-items: center; 
    margin-bottom: 20px;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #ffcc00; 
    border-radius: 50%; 
    width: 120px; 
    height: 120px;
    animation: spin 2s linear infinite; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

.SearchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.s-Notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.titulo {
    margin-top: 50px;
}

@media (max-width: 420px) {
    nav,
    nav.header,
    nav.footer {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .footer {
        flex-direction: column;
        padding-right: 20px;
        padding-left: 20px;
        align-items: center;
    }

    .footer li {
        margin-bottom: 10px;
        justify-content: center;
    }

    .main-nav li,
    .user li {
        margin: 10px 0;
        padding-right: 0;
    }

    .user a {
        height: 40px;
        width: 40px;
    }

    .titulo h1 {
        font-size: 1.5rem;
    }

    .home-section {
        padding-left: 5px;
    }

    .home-section h2 {
        margin-top: 5px;
    }

    .searchForm {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .SearchResults {
        flex-direction: column;
    }

    .SearchResults .movie-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .NotFound {
        margin-left: 0;
        margin-bottom: 20%;
    }

    body {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    nav ul {
        flex-direction: column;
    }

    .main-nav li,
    .user li {
        margin: 5px 0;
    }

    .titulo h1 {
        font-size: 1.3rem;
    }

    .home-section h2 {
        margin-top: 5px;
    }

    .searchForm {
        padding: 5px;
    }

    .SearchResults {
        flex-direction: column;
    }
}

