nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4e73df;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #fff;
}


.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    text-decoration: none;
    color: #fff;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.footer li{
    display: flex;
    justify-content: space-between;
}

.home h2{
    padding-top: 30px;
}

.favoritos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}