.card{
    width: 300px;
    padding-bottom: 20px;
}

.card img{
    width: 300px;
}

.card h3{
    margin-top: 5px;
}

.ocultar{
    display: none!important;
}

.mostrar{
    display: block!important;
}